@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Inter", sans-serif;

        color: #1d1e20;
    }
}

@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}

.bg-transparent {
    background: transparent;
}

.bg-pop-up {
    background-color: rgba(0, 0, 0, 0.75);
}

.input:checked ~ .rounded-border {
    border-color: #2d88d6 !important;
}

.input:checked ~ .rounded-border div {
    display: flex !important;
}

.input:checked ~ .active {
    display: flex !important;
}

.input:not(:checked) ~ .non-active {
    display: flex !important;
}

#side-menu-background {
    background-color: rgba(0, 0, 0, 0.5);
}

/* custom-scrollbar */

.scroll-x-content {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.scrollbar-x {
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 2px; /* Adjust as needed */
    width: 100%;
    background-color: none;
}

.thumb-x {
    background-color: #cfd2d7;
    height: 100%;
    cursor: pointer;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 35px; /* Adjust thumb height */
    opacity: 0.5; /* Adjust thumb opacity */
    transition: opacity 0.3s ease-in-out;
    border-radius: 6px;
}

.thumb-x:hover {
    opacity: 0.8; /* Adjust hover opacity */
}

#cart-side {
    background-color: rgba(0, 0, 0, 0.75);
}

/* swiper/styles */
/* reset */

.swiper-container {
    position: relative;

    width: 100% !important;

    overflow: hidden !important;
}

.swiper-button-prev,
.swiper-button-next {
    margin-top: 0 !important;

    position: relative !important;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    width: auto !important;
    height: auto !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none !important;
}

.swiper-pagination {
    display: flex !important;
    column-gap: 0.75rem !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: relative !important;
    bottom: auto !important;
    top: auto !important;
    left: auto !important;
}

.swiper-pagination-bullet {
    margin: 0 !important;
}

/* custom/all */

.swiper-pagination-bullet {
    width: 0.625rem !important;
    height: 0.625rem !important;

    background-color: #cfd2d7 !important;

    border-radius: 50% !important;

    transition: background-color 0.5s ease-in-out;

    cursor: pointer !important;
}

.swiper-pagination-bullet-active {
    background-color: #e84e1b !important;
}

/* custom/all - when swiper disable */

@media (max-width: 1024px) {
    /* custom/all */

    .swiper-wrapper {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        gap: 0.625rem !important;
    }

    /* custom/splash */

    .swiper-container-splash .swiper-wrapper {
        display: flex !important;
        gap: 0 !important;
    }

    /* custom/our-blog */
    /* custom/popular-brands */
    
    .swiper-container-our-blog .swiper-wrapper,
    .swiper-container-popular-brands .swiper-wrapper {
        grid-template-columns: 1fr !important;
    }
}

/* custom/splash */

.swiper-container-splash {
    height: 32rem !important;
}

.swiper-container-splash .swiper-pagination-bullet {
    width: 0.375rem !important;
    height: 0.375rem !important;

    background-color: #cfd2d7 !important;

    border-radius: 50% !important;

    transition: background-color 0.5s ease-in-out;

    cursor: pointer !important;
}

.swiper-container-splash .swiper-pagination-bullet-active {
    background-color: #2d88d6 !important;
}

.swiper-container-splash .swiper-controls {
    padding: 0.5rem !important;

    position: absolute !important;
    top: 2.5rem !important;
    right: 2.5rem !important;

    display: flex !important;
    column-gap: 1.5rem !important;
    align-items: center !important;
    justify-content: center !important;

    background-color: #ffffff;

    border-radius: 0.625rem;

    z-index: 30 !important;
}

/* custom/certificates */

.swiper-pagination-seasonal-goods,
.swiper-pagination-certificates {
    justify-content: center !important;
}

@media (max-width: 1024px) {
    /* custom/all */
    
    .swiper-pagination {
        justify-content: center !important;
    }

    /* custom/splash */

    .swiper-container-splash .swiper-controls {
        width: calc(100% - 20px) !important;

        top: auto !important;
        bottom: 10px !important;
        left: 10px !important;
        right: auto !important;

        justify-content: space-between !important;
    }
}

/* custom/popular-brands */

/* .swiper-container-popular-brands {
    overflow: visible !important;
} */

/* grid - when swiper disable */

@media (max-width: 1024px) {
    .grid-hidden {
        display: none !important;
    }
}

/* ul */


